<article id="message_<%= message._id %>" class="message" data-parts-amount="<%= message.parts %>" data-recipients-amount="<%= message.summary.total %>">
  <h1 class="bold number"><%= message_counter.next %></h1>
  <%= text_area "mailing[messages][#{ message._id }]", 'text', placeholder: 'Текст сообщения…', value: message.text %>
  <div class="recipients">
    <% message.recipients.each do |recipient| %>
      <%= text_field "mailing[messages][#{ message._id }][recipients]", recipient, class: 'bubble phone' %>
    <% end %>
    <input class="new" type="text" />
  </div>
  <h1 class="bold amount"><%= (message.summary.total / message.parts).to_s + (message.parts > 1 ? "×#{message.parts}" : '') %></h1>
</article>
