  <%= form_for @mailing do |f| %>
    <div id="sender">
      <div class="wrapper">
        <div>
          <%= f.text_field :sender, placeholder: "Отправитель…" %>
        </div>
      </div>
    </div>
    <section class="wrapper">
      <%= render partial: 'message', collection: @mailing.messages %>
      <article class="message new" data-parts-amount="0" data-recipients-amount="0">
        <textarea placeholder="Ещё одно сообщение…"></textarea>
      </article>
    </section>
    <div id="total"<%= raw(@mailing.summary.empty? ? ' class="none"' : '') %>>
      <div class="wrapper">
        <div>
          <h3>
            <span><%= t('messages.total') %>:&nbsp;</span>
            <span class="countries">
            <% total_by_prefixes = @mailing.summary.total_by_prefixes %>
            <% total_by_prefixes.keys.each_with_index do |prefix, index| %>
            <span><%= t('messages.prefixes')[prefix] %>&nbsp;—
              <span><%= total_by_prefixes[prefix] %></span><%= index < (total_by_prefixes.size - 1) ? "," : '' %></span>
            <% end %>
            </span>
          </h3>
          <hr />
          <div class="actions">
            <button type="submit" name="commit" value="send">Отправить</button>
            <span class="draft">
              или <a href="#" onclick="$(this).parents('form').submit(); return false" class="pseudolink"><u>сохранить в черновик</u></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>

