  <%= form_for @mailing do |f| %>
    <div id="sender">
      <div class="wrapper">
        <div>
          <%= f.text_field :sender, placeholder: "Отправитель…" %>
        </div>
      </div>
    </div>
    <section class="wrapper">
      <% if @mailing.messages.empty? %>
        <%= render partial: 'message', locals: { message: Message.new, message_counter: 0 } %>
      <% else %>
        <%= render partial: 'message', collection: @mailing.messages %>
      <% end %>
      <article class="message new" data-parts-amount="0" data-recipients-amount="0">
        <textarea placeholder="Ещё одно сообщение…"></textarea>
      </article>
    </section>
    <div id="total"<%= raw(@mailing.summary.empty? ? ' class="none"' : '') %>>
      <div class="wrapper">
        <div>
          <h3><%= total_by_prefixes(@mailing) %></h3>
          <hr />
          <div class="actions">
            <button type="submit" name="commit" value="send">Отправить</button>
            <span class="draft">
              или <a href="#" onclick="$(this).parents('form').submit(); return false" class="pseudolink"><u>сохранить в черновик</u></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>

