<nav id="top">
  <div class="report">
    <a href="#" class="error">
      Чему-то пришёл пиздец, и его привели именно <em>ВЫ!</em>
    </a>
    <a href="#" class="notice">
      Сообщаем вам что вы милая няша, однако мы не хуже и имеем право послать вас нахуй
    </a>
  </div>
  <div class="wrapper clearfix">
    <% if user_signed_in? %>
      <div class="topline clearfix">
        <ul class="float-left">
          <%= nav_link 'Новая рассылка', root_path %>
          <%= nav_link 'Рассылки', sent_mailings_path %>
          <%= nav_link 'Черновики', drafts_mailings_path %>
          <li><a id="toggleContacts" class="pseudolink" href="#"><u>Контакты</u></a>
        </ul>
        <ul class="float-right">
          <li><%= I18n.t('good')[Time.now.hour / 6] %>
          <li>
            <div class="buttongroup">
              <a id="profile" class="pseudolink drop" href="#" onclick="$(this).toggleClass('active'); return false"><u><%= current_user.email %></u></a><%= link_to "\u00a0", destroy_user_session_path, method: :delete, id: "delogin", class: "pseudolink drop" %>
              <%= render template: 'devise/registrations/edit' %>
        </ul>
      </div>
    <% end %>
    <div class="pinner">
      <div class="wrapper clearfix">
        <% if params[:controller] == 'mailings' and ['new', 'show'].include? params[:action] %>
          <span class="text float-left none">Сообщения:</span>
        <% end %>
        <ul class="float-left"></ul>
        <ul class="float-right">
          <% if user_signed_in? %>
            <li><span id="amount_7" class="russia country">9<span class="thinsp">&nbsp;</span>763</span> и <span id="amount_38" class="ukraine country">100<span class="thinsp">&nbsp;</span>500</span> смс</li>
            <li>
              <a id="buy-more" class="pseudolink drop" href="#" onclick="$(this).toggleClass('active'); return false"><u>Купить ещё</u></a>
              <%= render template: 'shared/buy' %>
          <% else %>
            <li>
              <a id="login" class="pseudolink drop" href="#" onclick="$(this).toggleClass('active'); return false"><u>Войти</u></a>
              <%= render template: 'devise/sessions/new' %>
            <li><em>или</em>
            <li>
              <a id="register" class="pseudolink drop" href="#" onclick="$(this).toggleClass('active'); return false"><u>Зарегистрироваться</u></a>
              <%= render template: 'devise/registrations/new' %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
<% if params[:controller] != 'pages' %>
  <span id="logotype">
    <h1><span>smsman</span></h1>
  </span>
<% end %>
