= form_for(@order) do |f|
  - if @order.errors.any?
    .alert-message.block-message.error
      %p
        %b= pluralize(@order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  = hidden_field_tag :_type, @order.class.name
  %fieldset
    .clearfix
      .clearfix
        = f.label :name
        .input= f.text_field :name
      .clearfix
        = f.label :sender_number
        .input= f.text_field :sender_number
      - case @order
        - when SingleOrder
          .clearfix
            = f.label :recipient_number
            .input= f.text_field :recipient_number
          .clearfix
            = f.label :text
            .input= f.text_area :text, :class => 'span5', :rows => 4
        - when BulkOrder
          .clearfix
            = f.label :text
            .input= f.text_area :text, :class => 'span5', :rows => 4
          .clearfix
            = f.label :recipient_numbers
            .input= f.text_area :recipient_numbers, :class => 'span4'
        - when IndividualOrder
          .clearfix
            = f.label :recipient_numbers_with_texts
            .input= f.text_area :recipient_numbers_with_texts, :class => 'span12'
    .actions
      = f.submit :class => 'btn primary'
