<h1>Listing orders</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Accepted</th>
    <th>Sender number</th>
    <th>Start at</th>
    <th>Actual till</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order._type %></td>
    <td><%= order.name %></td>
    <td><%= order.accepted %></td>
    <td><%= order.sender_number %></td>
    <td><%= order.start_at %></td>
    <td><%= order.actual_till %></td>
    <td><%= order.user %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
