%h1 New order
- if params[:_type].present?
  = render 'form'
- else
  %p
    = link_to 'New single order', new_order_path(:_type => 'SingleOrder')
    = link_to 'New bulk order', new_order_path(:_type => 'BulkOrder')
    = link_to 'New individual order', new_order_path(:_type => 'IndividualOrder')
= link_to 'Back', orders_path
