%p#notice= notice
%p
  %b Name:
  = @order.name
%p
  %b Accepted:
  = @order.accepted
%p
  %b Sender number:
  = @order.sender_number
%p
  %b User:
  = link_to @order.user
%p
  %b State:
  = @order.api_state
%p
  %b ID:
  = @order.api_id
- case @order
  - when SingleOrder
    %p
      %b Recipient number:
      = @order.recipient_number
    %p
      %b Text:
      = @order.text
  - when BulkOrder
    %p
      %b Text:
      = @order.text
    %table.zebra-striped
      %thead
        %tr
          %th Number
          %th State
          %th ID
      - @order.targets.each do |target|
        %tr
          %td= target.recipient_number
          %td= target.api_state
          %td= target.api_id
  - when IndividualOrder
    %table.zebra-striped
      %thead
        %tr
          %th Number
          %th Text
          %th State
          %th ID
      - @order.targets.each do |target|
        %tr
          %td= target.recipient_number
          %td= target.text
          %td= target.api_state
          %td= target.api_id
= link_to 'Back', orders_path
