<!DOCTYPE HTML>
<!--[if IE 8]><html id="ie8" lang="ru"><![endif]-->
<!--[if !IE]><!--><html lang="ru"><!--<![endif]-->
<head>
  <title>SmsManager</title>
  <!-- %= stylesheet_link_tag    "application", :media => "all" % -->

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/application.less" media="all" />
  <script type="text/javascript">
    messagesLocale = <%= raw t('messages').to_json %>;
    translitLocale = <%= raw({ 'lower' => Russian::Transliteration::LOWER, 'upper' => Russian::Transliteration::UPPER, 'multi_keys' => Russian::Transliteration::MULTI_KEYS }.to_json) %>;
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    document.createElement('hgroup');
  </script>
  <![endif]-->
</head>
<body>
  <%= render :template => 'shared/top' %>
  <%= yield %>
  <footer class="wrapper">
    <div>
      <ul>
        <li><a href="<%= welcome_pages_path %>"><u>Что это?</u></a></li>
        <li><a href="<%= welcome_pages_path %>#how_much_is_it"><u>Сколько стоит?</u></a></li>
        <li><a href="<%= welcome_pages_path %>#is_there_any_questions"><u>Все остальные вопросы</u></a></li>
      </ul>
      <p class="copyright float-right">
        © 2012-<%= Time.now.year %> <a href="http://myhotspot.ru/"><u>Hot Spot</u></a>
      </p>
    </div>
  </footer>
  <% if user_signed_in? %>
    <aside id="contacts" class="none">
      <div>
        <p>Контакты</p><a href="" class="close"></a>
        <div class="white scroll">
          <div class="pinner">
            <input type="search" name="" id="" placeholder="Поиск…" />
          </div>
          <div class="list">
          </div>
          <div class="add">
            <span><input type="text" class="bubble" placeholder="Добавить номер…" /></span>
          </div>
        </div>
      </div>
    </aside>
  <% end %>
</body>
</html>
