!!!
%html
  %head
    %title SMS Gate

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %style{:type => 'text/css'}
      body { padding-top: 40px  }

  %body
    .topbar.unselectable{"data-dropdown" => "dropdown"}
      .fill
        .container
          %h3
            = link_to 'SMS Gate', root_path
          %ul.nav
            - if current_user
              %li= link_to 'Orders', orders_path

              - if current_user.admin
                %li= link_to 'Users', users_path

          %ul.nav.secondary-nav
            - if current_user
              %li.dropdown
                %a.dropdown-toggle{href: '#'} Profile

                %ul.dropdown-menu
                  %li= link_to 'Settings', current_user
                  %li.divider
                  %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'


            - else
              %li= link_to 'Sign In', new_user_session_path
              %li= link_to 'Sign Up', new_user_registration_path

    .messages
      - flash.each do |type, msg|
        = content_tag :div, class: "alert-message #{type}" do
          = link_to 'x', '#', class: 'close'
          %p
            %strong #{type.capitalize}!
            = msg

    .container
      .toolbar-free-space
      .content
        = yield

    %footer.footer
      .container
        %p
          &copy;&nbsp;
          = link_to 'Hot Spot', 'http://myhotspot.ru', target: '_blank'
          &nbsp;#{Time.now.year}.
